__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
env/
.venv/
app/__pycache__/

.env
.venv
env/
venv/
ENV/


.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project


.DS_Store
Thumbs.db
desktop.ini


*.log
logs/


.cache/


~u2net*
~/.u2net/
~/.rembg/


*.jpg
*.jpeg
*.png
*.zip
*.tar.gz

!app/requirements.txt
!app/app.py
!app/performance_config.py
!index.html
!js/script.js